.content-box {
    background-color:rgba(25, 25, 57, 0.80);
    border-radius: 20px;
    padding: 30px;
    margin: 60px auto;
    max-width: 1000px;
    width: 90%;
    color: white;
    text-align: center;
}

.tabela-curso {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

.tabela-curso thead {
    background-color: white;
    color: black;
    border-radius: 10px 10px 0 0;
}

.tabela-curso thead th {
    padding: 12px;
    font-weight: bold;
}

.tabela-curso tbody td {
    padding: 16px;
    border-bottom: 2px solid white;
    color: white;
}

.tabela-curso tbody tr:last-child td {
    border-bottom: none;
}
