.form-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
  }
  
  .half-width {
    flex: 1 1 45%;
    min-width: 250px;
  }
  
  .full-width {
    flex: 1 1 100%;
  }
  
  .input-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
    text-align: left;
  }
  
  .input-group input,
  .input-group select,
  .input-group textarea {
    padding: 10px;
    border-radius: 15px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
  }
  
  .input-group input::placeholder,
  .input-group textarea::placeholder {
    color: white;
    opacity: 0.7;
  }
  
  .input-group select {
    appearance: none;
  }
  
  .buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .btn-primary,
  .btn-secondary {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn-primary:hover {
    background-color: black;
    color: white;
  }
  
  .btn-secondary:hover {
    background-color: black;
    color: white;
  }
  
  .input-group.semestre {
    flex: 1 1 250px; 
  }

  .input-group.data-inicio {
    flex: 1 1 250px; 
  }
  
  .seletor-modulo {
    text-align: center;
}

.seletor-modulo select {
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 16;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    text-align: justify;
    margin-top: 20px;
}


  